<ion-card>
  <ion-card-content>
    <form #form="ngForm" (ngSubmit)="onAgregarPublicacion(form)">
      <ion-item>
        <ion-label position="stacked">Titulo</ion-label>
        <ion-input [(ngModel)]="nuevaPublicacion.titulo" name="titulo" #titulo="ngModel" required minlength="5"
          placeholder="Mascota perdida">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-button expand="full" (click)="agregarFoto()">
          <ion-icon slot="start" name="camera"></ion-icon>
          FOTOGRAFÍA
        </ion-button>
        <img *ngIf="nuevaPublicacion.foto" [src]="nuevaPublicacion.foto" />
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Descripción</ion-label>
        <ion-input [(ngModel)]="nuevaPublicacion.descripcion" name="descripcion" #descripcion="ngModel" required
          minlength="2" placeholder="Perrito salchicha perdido en esquina Manuel Montt con los Olivos ....">
        </ion-input>
      </ion-item>
      <ion-text hidden>{{ fecha | date: 'short' }}</ion-text>

      <ion-button expand="full" type="submit" [disabled]="!form.valid">Guardar</ion-button>
    </form>
  </ion-card-content>
</ion-card>